<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="veiwport">
  <title>menu</title>
  <!---css sheets-->
  <link rel="stylesheet" href="CSS/all.min.css">
  <link rel="stylesheet" href="CSS/menustyle.css">

  <!---google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <script src="JS/axios.min.js"></script>
  <script src="JS/menu.js"></script>
</head>

<body>
  <!--Header-->
  <div class="nav">
    <div class="container">
      <div class="logo">
        <h1><i class="fa-solid fa-utensils"></i> Restoran</h1>
      </div>
      <ul class="nav-menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/dashboard" id="dashboardLink">Dashboard</a></li>
        <li><a class="chat chat-toggle">Chat</a>
          <ul class="ch">
            <li><a href="/chat" data-room="1">Staff Chat</a></li>
            <li><a href="/chat" data-room="2">Client Chat</a></li>

          </ul>
        </li>
        <li><a href="/book">Book</a></li>
      </ul>
      <div class="text animated moveInDown">
        <h3>Our Menu</h3>
      </div>
    </div>
  </div>
  <!--End Header-->

  <div class="custom-alert" id="customAlert">
    <div class="alert-content">
      <p>Chat only available for signed-in users!</p>
      <button id="closeAlert">Close</button>
    </div>
  </div>


  <!--Menu-->

  <div class="menu">
    <div class="productList" id="productList">
      <!-- Your product list goes here -->

    </div>
  </div>

  <!---------------------footer------------------------->

  <div class="end">
    <div class="first">
      <h1>
        contact
      </h1>
      <div class="mb-1">
        <i class="fas fa-map-marker-alt"></i>
        <p>95 shben elkom street, Ismailia, Egypt</p>
      </div>
      <div class="mb-1">
        <i class="fas fa-phone"></i>
        <p>01234567654</p>
      </div>
      <div class="mb-1">
        <i class="fas fa-envelope"></i>
        <p>Restoran @gamil.com</p>
      </div>
    </div>

    <div class="second">
      <h1>opening</h1>
      <div class="mb">
        <h2 class="day"> Saturday - Thursday</h2>
        <p>10 am - 12 am</p>
      </div>
    </div>
  </div>
  <script src="JS/nav.js"></script>
</body>

</html>