<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="veiwport">
  <title>menu</title>
  <!---css sheets-->
  <link rel="stylesheet" href="CSS/all.min.css">
  <link rel="stylesheet" href="CSS/menustyle.css">

  <!---google font-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <!--Header-->
  <div class="nav">
    <div class="container">
      <div class="logo">
        <h1><i class="fa-solid fa-utensils"></i> Restoran</h1>
      </div>
      <ul class="nav-menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a class="chat chat-toggle">Chat</a>
          <ul class="ch">
            <li><a href="/chat" data-room="1">Staff Chat</a></li>
            <li><a href="/chat" data-room="2">Client Chat</a></li>

          </ul>
        </li>
        <li><a href="/book">Book</a></li>
      </ul>
      <div class="text animated moveInDown">
        <h3>Our Menu</h3>
      </div>
    </div>
  </div>
  <!--End Header-->

  <div class="custom-alert" id="customAlert">
    <div class="alert-content">
      <p>Chat only available for signed-in users!</p>
      <button id="closeAlert">Close</button>
    </div>
  </div>


  <!--Menu-->
  <div class="menu">
    <div class="productList">
      <!-- Your product list goes here -->
      <div class="menu">
        <div class="productList">
          <!-- Your product list goes here -->
          <div class="card">
            <img src="images/menu-1.jpg" alt="Product Image">
            <div class="card-body">
              <h3 class="card-title">Grilled Chicken</h3>
              <p>Ipsum ipsum clita erat amet dolor justo diam</p>
            </div>
            <p class="card-price">$120.50</p>
          </div>
          <div class="card">
            <img src="images/menu-2.jpg" alt="Product Image">
            <div class="card-body">
              <h3 class="card-title">Chicken Burger</h3>
              <p>Ipsum ipsum clita erat amet dolor justo diam</p>
            </div>
            <p class="card-price">$160.00</p>
          </div>
          <div class="card">
            <img src="images/menu-3.jpg" alt="Product Image">
            <div class="card-body">
              <h3 class="card-title">Pizza</h3>
              <p>Ipsum ipsum clita erat amet dolor justo diam</p>
            </div>
            <p class="card-price">$90.00</p>
          </div>
          <div class="card">
            <img src="images/menu-4.jpg" alt="Product Image">
            <div class="card-body">
              <h3 class="card-title">Steak</h3>
              <p>Ipsum ipsum clita erat amet dolor justo diam</p>
            </div>
            <p class="card-price">$115.99</p>
          </div>
          <div class="card">
            <img src="images/menu-5.jpg" alt="Product Image">
            <div class="card-body">
              <h3 class="card-title">Big Meal</h3>
              <p>Ipsum ipsum clita erat amet dolor justo diam</p>
            </div>
            <p class="card-price">$190.00</p>
          </div>
          <div class="card">
            <img src="images/menu-6.jpg" alt="Product Image">
            <div class="card-body">
              <h3 class="card-title">Steak & Potato</h3>
              <p>Ipsum ipsum clita erat amet dolor justo diam</p>
            </div>
            <p class="card-price">$100.50</p>
          </div>
          <div class="card">
            <img src="images/menu-7.jpg" alt="Product Image">
            <div class="card-body">
              <h3 class="card-title">Margarita</h3>
              <p>Ipsum ipsum clita erat amet dolor justo diam</p>
            </div>
            <p class="card-price">$60.0</p>
          </div>
          <div class="card">
            <img src="images/menu-8.jpg" alt="Product Image">
            <div class="card-body">
              <h3 class="card-title">Ribeye Steak</h3>
              <p>Ipsum ipsum clita erat amet dolor justo diam</p>
            </div>
            <p class="card-price">$120.00</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!---------------------footer------------------------->

  <div class="end">
    <div class="first">
      <h1>
        contact
      </h1>
      <div class="mb-1">
        <i class="fas fa-map-marker-alt"></i>
        <p>95 shben elkom street, Ismailia, Egypt</p>
      </div>
      <div class="mb-1">
        <i class="fas fa-phone"></i>
        <p>01234567654</p>
      </div>
      <div class="mb-1">
        <i class="fas fa-envelope"></i>
        <p>Restoran @gamil.com</p>
      </div>
    </div>

    <div class="second">
      <h1>opening</h1>
      <div class="mb">
        <h2 class="day"> Saturday - Thursday</h2>
        <p>10 am - 12 am</p>
      </div>
    </div>
  </div>

</body>
<script src="JS/navBar.js"></script>

</html>