/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

/* Global Variables */
:root {
    --orange: #FFA500;
    --primary: #ADB5BD;
    --light: #F1F8FF;
    --dark: #0F172B;
    --input-bg: #2a334e;
    --separator: #44485b; 
}

/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark); 
    color: var(--light);
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/*Logo design*/
.logo {
    color: var(--orange);
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.logo h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

/*Nav*/
.nav .contain {
    width: 100%;
    position: relative;
    display: flex;
    gap: 520px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: var(--dark);
    border-bottom: 2px solid var(--primary);
}
.nav .contain .nav-menu {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}
.nav .contain .nav-menu a {
    color: var(--light);
    text-decoration: none;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.nav .contain .nav-menu a:hover {
    color: var(--orange);
}


/*mobile*/
@media (max-width: 767px) {
    .logo h1{
        font-size: 13px;
    }
    .nav{
        width: 100%;
    }
    .nav .contain{
        gap: 13px;
    }
    .nav .contain .nav-menu{
        margin-top: -8px;
    }
    .nav .contain .nav-menu a {
        font-size: 11px;
        padding-left: 2px;
        padding-right: 0.5rem;
    }
    .nav .contain .nav-menu .ch{
        font-size: 15px;
        width: max-content;
        margin-left: -35px;
        padding: 5px 5px;
    }
    .nav .ch li:first-of-type{
        padding-bottom: 5px;
    }
    
    #form {
        margin-left: -20px;
    }

    #form > #btn {
        width: 50px;
        font-size: 15px;
        padding-left: 6px;
    }
    #form > #disconnect-btn {
        width: 65px;
        font-size: 12px;
        margin-left: 2px;
        padding: 10px 3px;
    }
}

/*Small*/
@media (min-width: 768px) and (max-width: 991px) {
    .nav .contain {
        gap: 130px;
        width: 100%;
    }
    .nav .contain .logo h1 {
        font-size: 30px;
    }

    .nav .contain .nav-menu a {
        font-size: 20px;
        padding: 0.5rem 0.5rem 0.5rem 2px;
    }
}

/*Medium*/
@media (min-width: 992px) and (max-width: 1200px) {
    
    .nav .contain {
        gap: 0;
        justify-content: space-evenly;
    }

    .nav .contain .logo h1 {
        font-size: 30px;
    }

    .nav .contain .nav-menu a {
        font-size: 20px;
        padding: 0.5rem 0.5rem 0.5rem 10px;
    }
}



/* Messages List */
#messages {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--separator); 
}

.message-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.sender-name {
    font-size: 12px; 
    color: var(--primary) !important;
    background-color: transparent !important;
    margin-bottom: 3px; 
}

.message {
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 60%;
    background-color: var(--primary);
    color: var(--dark);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.sent {
    align-self: flex-end;
    animation: slideFromRight 0.5s forwards;
}

.received {
    align-self: flex-start;
    animation: slideFromLeft 0.5s forwards;
    background-color: var(--orange);
    color: white
}

/* Message Input Form */
#form {
    display: flex;
    background-color: var(--dark);
    padding: 10px 20px;
    box-shadow: 0px -2px 10px rgba(15, 23, 43, 0.2);
}

#input {
    flex: 1;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--input-bg);
    outline: none;
    color: var(--light);
    background-color: var(--input-bg);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.06);
}

#form > button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: var(--orange);
    color: var(--light);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.06);
}

#form > button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 10px rgba(255, 165, 0, 0.3);
}

/* Animations */
@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#messages::-webkit-scrollbar {
    width: 10px;
}
#messages::-webkit-scrollbar-track {
    background: var(--input-bg); 
}
#messages::-webkit-scrollbar-thumb {
    background: var(--primary);
}
#messages::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}
