*{
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
	max-height: 100%;
}

:root {
    
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--primary: #FEA116;
    --light: #ffffff;
    --dark: #0F172B;
	--light-gray:#fff9f9e1;
	--grey: #a19d9d;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

body {
	overflow-y: auto;background-color: var(--dark); 
}

a {
	text-decoration:navajowhite;
}

li {
	list-style: none;
}

/*Nav design*/
.nav .contain {
    background-color: var(--light);  
    width: 100%;
    padding-top: 17px;
}

.nav .contain .nav-menu {
    font-size: 20px;
    font-weight: 700;
	text-align: center;
    padding-bottom: 0.5rem;
}

.nav .contain .nav-menu a {
    color: var(--dark);
    text-decoration: none;
    padding: 0.5rem 5rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease 0s;
}
.nav .contain .nav-menu a:hover{
	color: var(--primary);
}


main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
	padding: 10px;
}
main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .box-info li:nth-child(1) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
main .box-info li:nth-child(2) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}

main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
	margin:2%;
	
	width: 96%;
	

}
main .table-data .head {
	width: 80%;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 24px;
}
main .table-data .head h3 {
	margin-right: auto;
	font-size: 20px;
	font-weight: 600;
}
main .table-data .head .bx {
	cursor: pointer;
}

main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
main .table-data .order table {
	width: 80%;
    margin-left: 140px;
    margin-top: 45px;
    border-collapse: collapse;
}

main .table-data .order table td {
	
	padding: 20px ;
}
main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 10px;
	margin: 12px;
}
main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}

main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
main .table-data .order table tr td .status.completed {
	background: var(--dark);
}
main .table-data .order table tr td .status.process {
	background: var(--grey);
}
main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


main .table-data .task {
	flex-grow: 4;
	flex-basis: 300px;
    margin-top: 24px;
padding: 20px;
	
}
main .table-data .task .todo-list {
	width: 80%;
	margin-left: 140px;
}
main .table-data .task .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--light-orange);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main .table-data .task .todo-list li .bx {
	cursor: pointer;
}
main .table-data .task .todo-list li.completed {
	border-left: 10px solid var(--dark);
}
main .table-data .task .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
main .table-data .task .todo-list li:last-child {
	margin-bottom: 0;
}

table thead tr th:first-of-type{
	text-align: left;
    padding-left: 65px;
}

table thead{
	color: var(--primary);
    font-size: 17px;
}
/* MAIN */
