*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}


body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/*Logo design*/
.logo{
    height: 50px;
    color: var(--primary);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.logo h1{
    font-weight: 900;
}


/*Nav design*/
.nav{
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg-hero.jpg);
    background-size: cover;
}
.nav .container{
    width: 100%;
    position: relative;
    display: flex;
    gap: 660px;
    justify-content: center;
}
.nav .container .nav-menu{
    display: flex;
    height: 50px;
    padding-top: 15px;
    font-size: 1.25rem;
    font-weight: 700;
}
.nav .container .nav-menu a{
    color: var(--light);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease 0s;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
.nav .container .nav-menu a:hover{
    color: var(--primary);
}
.nav .container .text{
    position: absolute;
    color: var(--light);
    margin-top: 7%;
}
.nav .container .text h3{
    font-size: 70px;
    font-weight: 900;
}
.nav .container .ch{
    display: none;
    position: absolute;
    background-color: var(--light);
    border-radius: 5px;
    margin-top: 15px;
    margin-left: -25px;
    padding: 5px 15px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.nav .ch::before{
    display: none;
    content: '';
    position: absolute;
    border-style: solid;
    border-width:10px;
    border-color: transparent transparent var(--light) transparent;
    top: -19px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.nav .ch li:first-of-type{
    padding-bottom: 10px;
}

.nav .nav-menu .ch li a{
    color: var(--dark);
    font-size: 15px;
}
.nav .nav-menu .ch li a:hover{
    cursor: pointer;
}

.nav .nav-menu .ch.active, .nav .nav-menu .ch.active::before{
    display: block;
}

/*small*/
@media (max-width: 786px){
    .nav{
        width: 100%;
        height: 255px;
    }
    .nav .container{
        gap: 0px;
        width: 100%;
        justify-content: space-around;
        padding-top: 15px;
    }
    .nav .container .logo h1{
        font-size: 20px;
    }
    .nav .container .nav-menu{
        font-size: 15px;
        padding-left: 0;
    }
    .nav .container .nav-menu a{
        font-size: 15px;
        padding: 0.5rem 0.5rem 0.5rem 2px;
    }  
    .nav .container .text h3{
        font-size: 55px;
        margin-top: 55px;
    }

    .nav .nav-menu .ch{
        font-size: 15px;
        width: max-content;
        margin-left: -35px;
        padding: 5px 9px;
    }

    .nav .ch li:first-of-type{
        padding-bottom: 5px;
    }
}
/*mobile*/
@media (min-width: 787px) and (max-width: 980px){
    .nav .container{
        gap: 45px;
    }
    .nav .container .nav-menu{
        padding-top: 13px;
        font-size: 21px;
    }
    .nav .logo{
        font-size: 17px;
    }
    .nav .nav-menu .ch{
        /* width: max-content; */
        margin-left: -50px;
        padding: 5px 9px;
    }
    .nav .nav-menu .ch li a{
        font-size: 28px;
    }
    .nav .ch li:first-of-type{
        padding-bottom: 10px;
    }

    .menu{
        flex-direction: column;
        justify-content: center;
    }
    .menu .productList .card{
        flex-basis: 100%;
    }
}
/*Large*/
@media (min-width: 981px) and (max-width: 1349px){
    .nav .container{
        gap: 200px;
    }
    .nav .container .nav-menu{
        font-size: 20px;
        padding-top: 15px;
    }
    .nav .logo{
        margin-top: -10px;
        font-size: 20px;
    }
}
/*Menu*/
.menu{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.productList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.menu .productList .card{
    display: flex;
    flex-basis:40%;
    height: 90px;
    gap: 20px;
    margin: 20px 0;
}
.menu .productList .card .card-body{
    flex-basis: 60%;
}
.menu .productList .card .card-body h3{
    margin-top: 1px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}
.menu .productList .card .card-body p{
    width: 135%;
    margin-top: 1px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #777;
}
.menu .productList .card .card-body .card-button{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-top: 10px;
    padding: 7px;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}
.menu .productList .card .card-price{
    flex-basis: 40%;
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--primary);
}

/*Small*/
@media (min-width: 787px) and (max-width: 980px){
    .menu{
        flex-direction: column;
        justify-content: center;
    }
    .menu .productList .card{
        flex-basis: 100%;
    }
}




.end{
    background-color: #0F172B; 
    height: 304px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 250px;
}

.first, .second{
    height: 100%;
}
.first h1, .second h1{
    color: #FEA116;
    font-family:'Pacifico', cursive ;
    text-align: center;
}
.first h1{
    margin-bottom: 0;
}
.mb-1{
    display: flex;
    align-items: center;
    gap: 15px;
    color:#F1F8FF;
    font-size: 20px;
}
.mb-1 i{
    color: var(--primary);
}
.mb{
    color:#F1F8FF;
}
.mb p{
    text-align: center;
}


.custom-alert {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.alert-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

#closeAlert {
    margin-top: 10px;
}