* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration:navajowhite;
}

li {
	list-style: none;
}

:root {
    --primary: #FEA116;
    --light: #F1F8FF;
    --dark: #0F172B;
}



/*Body background*/
body { 
     background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(../images/bg-hero.jpg);
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    margin: 0;
 width: 74%;
  
}


/*Nav design*/
.nav .contain {
    background-color: var(--dark);
   
    width: 100%;
    position: relative;
    display: flex;
    gap: 520px;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    margin-top: -5px;
 
}

.nav .contain .nav-menu {
    font-size: 1.25rem;
    font-weight: 700;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.nav .contain .nav-menu a {
    color: var(--light);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease 0s;
}


/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}

#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}

#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}




#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */

/*mobile*/
@media (max-width: 767px) {
    .nav .contain {
        gap: 30%;
        width: 135%;
        justify-content: center;
      
    }

    .nav .contain .logo {
        margin-left: -115px;
    }

    .nav .contain .logo h1 {
        font-size: 15px;

    }

    .nav .contain .nav-menu a {
        font-size: 10px;
        padding: 0.5rem 0.5rem 0.5rem 2px;
    }

    .image .container {
        justify-content: center;
    }

    .image .container .ani {
        margin-left: 85px;
    }

    .image .container .ani img {
        width: 230px;
    }

    .image .container .text {
        width: 312px;
        top: 60%;
        left: 50%;
    }

    .image .container .text h1 {
        font-size: 20px;
    }

    .image .container .text p {
        font-size: 10px;
    }

    .image .container .text a {
      
        font-size: 10px;
    }
  

#sidebar .brand {
	font-size: 10px;

}
#sidebar img {
	width: 25px;
	height: 25px;
	
}

#sidebar .side-menu {

	margin-top: 30px;
}
#sidebar .side-menu li {
	height: 30px;
	
	margin-left: 0px;
	border-radius: 48px 0 0 48px;
	padding: 0px;
}

#sidebar .side-menu li a {

	font-size: 10px;
}


}

/*Small*/
@media (min-width: 768px) and (max-width: 991px) {
    .nav .contain {
        gap: 130px;
        width: 135%;
    }

    .nav .contain .logo {
        margin-left: -285px;
    }

    .nav .contain .logo h1 {
        font-size: 30px;
    }

    .nav .contain .nav-menu a {
        font-size: 20px;
        padding: 0.5rem 0.5rem 0.5rem 2px;
    }

    .image .container {
        justify-content: center;
    }

    .image .container .ani img {
        width: 290px;
    }

    .image .container .text {
        width: 500px;
        top: 85%;
        left: calc(50% - 50px);
    }

    .image .container .text h1 {
        font-size: 40px;
    }

    .image .container .text p {
        font-size: 15px;
    }

    .image .container .text a {
        font-size: 15px;
    }
    
#sidebar .brand {
	font-size: 15px;

}
#sidebar img {
	width: 28px;
	height: 28px;
	
}

#sidebar .side-menu {

	margin-top: 34px;
}
#sidebar .side-menu li {
	height: 35px;
	
	margin-left: 0px;
	border-radius: 48px 0 0 48px;
	padding: 0px;
}

#sidebar .side-menu li a {

	font-size: 15px;
}

}

/*Medium*/
@media (min-width: 992px) and (max-width: 1199px) {
    .nav .contain {
        gap: 0;
        width: 135%;
        justify-content: space-evenly;
    }

    .nav .contain .logo {
        margin-left: -300px;
    }

    .nav .contain .logo h1 {
        font-size: 30px;
    }

    .nav .contain .nav-menu a {
        font-size: 20px;
        padding: 0.5rem 0.5rem 0.5rem 10px;
    }

    .image .container .ani {
        top: 25%;
    }

    .image .container .ani img {
        width: 390px;
    }

    .image .container .text {
        width: 400px;
        left: calc(50% - 250px);
    }
    
#sidebar .brand {
	font-size: 18px;

}
#sidebar img {
	width: 27px;
	height: 27px;
	
}

#sidebar .side-menu {

	margin-top: 37px;
}
#sidebar .side-menu li {
	height: 36px;
	
	margin-left: 0px;
	border-radius: 48px 0 0 48px;
	padding: 0px;
}

#sidebar .side-menu li a {

	font-size: 18px;
}

}

@media (min-width: 1200px) and (max-width: 1349px) {
    .nav .contain {
        gap: 0;
        width: 135%;
        justify-content: space-evenly;
    }

    .nav .contain .logo {
        margin-left: -300px;
    }

    .nav .contain .logo h1 {
        font-size: 30px;
    }

    .nav .contain .nav-menu a {
        font-size: 20px;
        padding: 0.5rem 0.5rem 0.5rem 10px;
    }

    .image .container .ani {
        left: 50%;
    }
}
